# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Django
db.sqlite3
media/

# Environment
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
logs/
*.log

# Static Build
staticfiles/

# Pytest
.pytest_cache/

# Coverage
htmlcov/
.coverage

# Migrations Cache
*.pyc

# S3
.aws/

# IDE
.idea/